.chat-main
  .chat-header
    .chat-header__group-box
      .chat-header__group-box__name
      .chat-header__group-box__member
    .chat-header__edit
      = link_to "Edit", edit_group_path(current_user), class:"btn"
  .chat-message
    .chat-message__info
      .chat-message__info__box
        .chat-message__info__box__name
        .chat-message__info__box__date
      .chat-message__info__message-box
  .chat-form
    %form.new-message
      .input-box
        %input{type:"text",placeholder: "type a message",class: "input-box__message"}
        %label{class:"input-box__image"}
          = icon('far','image')
          %input{type:"file",class:"input-box__image__file"}
      %input{type:"submit", value:"SEND",class:"submit-btn"}